<template>
    <div>
        <input type="hidden" name="id_contacto[]" v-model="contacto.id">
        
        <button type="button" class="btn btn-xs btn-danger pull-right" @click="remove">
            <i class="fa fa-remove"></i>&nbsp;&nbsp; Remover
        </button>

        <div class="form-group">
            <label for="nombre_contacto" class="col-md-2 control-label">Nombre</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="nombre_contacto[]" v-model="contacto.nombre" required="required"></input>
            </div>
        </div>
        
        <div class="form-group">
            <label for="departamento" class="col-md-2 control-label">Departamento</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="departamento[]" v-model="contacto.departamento">
            </div>
        </div>

        <div class="form-group">
            <label for="telefono" class="control-label col-md-2">Telefono(s)</label>
            <div class="col-md-8">
                <div class="row form-group" v-for="(telefono, i) in contacto.telefonos">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{ telefono.tipo | capitalize }} &nbsp;<span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" style="cursor: pointer;">
                                    <li>
                                        <a @click="tipo(telefono, 'casa')">
                                            <i class="fa fa-home"></i>&nbsp; Casa
                                        </a>
                                    </li>
                                    <li>
                                        <a @click="tipo(telefono, 'movil')">
                                            <i class="fa fa-mobile-phone"></i>&nbsp; Movil
                                        </a>
                                    </li>
                                    <li>
                                        <a @click="tipo(telefono, 'oficina')">
                                            <i class="fa fa-phone"></i>&nbsp; Oficina
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <input class="form-control" type="text" :name="'telefonos['+ index +'][]'" 
                                   v-model="telefono.telefono"/>

                            <input type="hidden" v-model="telefono.id" :name="'id_telefono['+ index +'][]'"/>
                            <input type="hidden" v-model="telefono.tipo" :name="'tipo_telefono['+ index +'][]'"/>
                            
                            <div class="input-group-addon">
                                <i v-if="telefono.tipo == 'casa'" class="icono fa fa-home"></i>
                                <i v-else-if="telefono.tipo == 'movil'" class="icono fa fa-mobile-phone"></i>
                                <i v-else class="icono fa fa-phone"></i>
                            </div>

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success" v-if="!i" @click="addTelefono">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default" v-else @click="removeTelefono(i)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="correo" class="col-sm-2 control-label">Correo(s)</label>
            
            <div id="correos" class="col-md-8">
                <div class="row form-group" v-for="(correo, i) in contacto.correos">
                    <div class="col-sm-12">
                        <div class="input-group">
                            
                            <input class="form-control" type="hidden" v-model="correo.id" 
                                :name="'id_correo['+ index +'][]'" />
                            
                            <input class="form-control" type="email" v-model="correo.correo" 
                                :name="'correos['+ index +'][]'" />

                            <div class="input-group-addon">
                                <i class="icono fa fa-envelope"></i>
                            </div>
                            <div class="input-group-btn" >
                                <button type="button" class="btn btn-success" v-if="!i" @click="addCorreo">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default" v-else @click="removeCorreo(i)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['contacto', 'index'],
        methods: {
            remove: function () {
                this.$emit('remove', this.index, 'contactos');
            },
            addTelefono: function () {
                this.contacto.telefonos.push({tipo: 'oficina'});
            },
            addCorreo: function () {
                this.contacto.correos.push({});
            },

            removeTelefono: function (i) {
                this.contacto.telefonos.splice(i, 1);
            },
            removeCorreo: function (i) {
                this.contacto.correos.splice(i, 1);
            },
            tipo: function (telefono, val) {
                telefono.tipo = val;
            },
        }
    }
</script>