<template>
    <div class="panel box box-success border-flat with-border">
        <div class="box-header panel-heading-hover with-border" data-toggle="collapse" data-parent="#accordion_direccion" :href="'#direccion' + index">
            <h4 class="box-title">
                Dirección #{{ index + 1 }}
                <small class="text-muted" style="margin-left: 10px;">Direcciones</small>
            </h4>
        </div>
        
        <button type="button" class="close box-close-button" @click="remove">
            <span>&times;</span>
        </button>
        
        <div :id="'direccion' + index" class="panel-collapse collapse">
            <input type="hidden" class="form-control" name="id_direccion[]" v-model="direccion.id"/>
            
            <div class="box-body">
                <div class="form-group">
                    <label for="nombre_direccion" class="col-md-2 control-label">Nombre dirección</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="nombre_direccion[]" v-model="direccion.nombre"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comentario" class="col-md-2 control-label">Comentario</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="comentario_direccion[]" v-model="direccion.comentario"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="calle" class="col-md-2 control-label">Calle</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="calle_direccion[]" v-model="direccion.calle"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="colonia" class="col-md-2 control-label">Colonia</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="colonia_direccion[]" v-model="direccion.colonia"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numero" class="col-md-2 control-label">Número</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="numero_direccion[]" v-model="direccion.numero"/>
                    </div>
                    <label for="cp" class="col-md-2 control-label">C.P.</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="cp_direccion[]" v-model="direccion.cp"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="municipio" class="col-md-2 control-label">Municipio</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="municipio_direccion[]" v-model="direccion.municipio"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="estado" class="col-md-2 control-label">Estado</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="estado_direccion[]" v-model="direccion.estado"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pais" class="col-md-2 control-label">País</label>
                    <div class="col-md-10">
                        <select class="form-control" name="pais_direccion[]" v-model="direccion.pais">
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono" class="col-md-2 control-label">Teléfono</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="telefono_direccion[]" v-model="direccion.telefono" maxlength="25" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['direccion', 'index'],
        methods: {
            remove: function () {
                this.$emit('remove', this.index, 'direcciones_recoleccion');
            }
        }
    }
</script>