<template>
    <div>
        <div v-if="data.length > 0">
            <input name="query" class="search-input pull-right" v-model="filterKey">
            <span class="text-bold pull-right" style="margin-right: 10px;">Búsqueda:</span>
        </div>

        <div class="relative-layout" v-if="data.length > 0">
            <div class="fixed-container">
                <table class="fixed-table">
                    <thead>
                        <tr>
                            <th v-for="column in columns"
                                @click="sortBy(column.key)">
                                
                                {{ column.title }}

                                <div :class="{ active: sortKey == column.key }">
                                    {{ column.title }}
                                    
                                    <i class="fa" 
                                      :class="sortOrders[column.key] > 0 ? 'fa-sort-asc' : 'fa-sort-desc'">
                                    </i>
                                </div>
                            </th>

                            <th v-if="hasButtons" style="width: 250px;">
                                Acciones

                                <div style="width: 250px;">Acciones</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(entry, index) in filteredData">
                            <td v-for="column in columns">
                                <a v-if="column.url" :href="compileUrl(column.url, entry[column.url_key])" 
                                   v-text="entry[column.key]"></a>
                                
                                <span v-else v-text="entry[column.key]"></span>
                            </td>

                            <td v-if="hasButtons" class="actions">
                                <a v-for="button in buttons" :href="compileUrl(button.url, entry[button.key])" class="btn btn-default btn-xs flat" 
                                  @click="triggerAction(button, entry, index, $event)">
                                      <i class="fa " :class="button.icon"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4 v-else>No hay registros</h4>
    </div>
</template>

<script type="text/javascript">
    export default {
        props: {
            columns: Array,
            buttons: Array,
            routes: Object,
        },
        data: function () {
            var sortOrders = {}
            
            this.columns.forEach(function (column) {
                sortOrders[column.key] = 1
            })
            
            return {
                data: [],
                filterKey: '',
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredData: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            },
            hasButtons: function () {
                return typeof this.buttons !== 'undefined' && this.buttons.length > 0;
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key;
                this.sortOrders[key] = this.sortOrders[key] * -1;
            },

            triggerAction: function (button, entry, index, event) {
                if (typeof button.action !== 'undefined') {
                    event.preventDefault();

                    if (typeof this[button.action] === 'function') {
                        this[button.action](entry, index, button.args || []);
                    }

                    return true;

                    this.$emit(button.action, entry, index, button.args || []);
                }
            },
            compileUrl: function (url, id) {
                if (typeof url === 'undefined') {
                    return '';
                }

                return url + '/' + id;
            },
            delete: function (entry, index, args) {
                var vo = this;

                var kStr = this.routes.delete.key ? '/' + entry[this.routes.delete.key] : '';
                
                swal({
                    title: this.routes.delete.title || '¿Deseas continuar con la operación?',
                    text: this.routes.delete.text || 'Este cambio no podrá revertirse',
                    type: 'error',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Eliminar'
                }).then(function () {
                    axios.delete(vo.routes.delete.url + kStr)
                        .then(function (response) {
                            swal('¡Registro eliminado!', '', 'success');
                            
                            vo.data.splice(index, 1);
                        })
                        .catch(function (error) {
                            swal('¡Error en el servidor!', 'Intentalo más tarde', 'error');
                            
                            console.log(error.response);
                        });
                })
            }
        },
        mounted: function () {
            var vo = this;

            axios.post(this.routes.get)
                 .then(function (response) {
                     vo.data = response.data.data;
                 })
                 .catch(function (error) {
                     console.log(error.response);
                 });
        }
    }
</script>