.combo-card
{
    display: block;
}

.combo-card > .combo-title-card
{
    float: left;

    width: 100%;
}

.combo-card > .panel-control
{
    float: left;

    width: 25%;
    padding: 0 20px;
}

.combo-card > .table-quantity
{
    float: left;

    width: 75%;
    padding: 0;
}

.close-button
{
    position: relative;
    top: -40px;

    float: right;
}

.image-box
{
    max-width: 170px;
    padding: 5px;

    border: 5px solid #fff;
    border-radius: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

@media (max-width:860px)
{
    .image-box
    {
        max-width: 100px;
    }
}

.decoracion-panel
{
    display: block;

    width: 100%;
    margin-bottom: 15px;
}

.decoracion-panel > .modelo-decoracion
{
    display: block;

    width: 100%;
    margin: 0;
    padding-bottom: 15px;
}

.decoracion-panel > .modelo-decoracion > .precios,
.decoracion-panel > .modelo-decoracion > .descripcion
{
    display: inline-block;

    vertical-align: top;
}

.decoracion-panel > .modelo-decoracion > .precios
{
    width: 20%;
}

.decoracion-panel > .modelo-decoracion > .descripcion
{
    width: 75%;
}

.form-control-fit
{
    max-width: 200px;
    margin-bottom: 10px;
}

.quote-block
{
    display: block;

    padding-left: 40px;
}

.quote-direction
{
    float: left;
}

.radio-bloque
{
    display: inline-block;

    margin-right: 10px;

    vertical-align: top;
}

.padding-left
{
    padding-left: 210px !important;
}

.float-button
{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;

    position: relative;
    z-index: 999;

    padding: 16px 12px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #333;
    border: 1px solid transparent;
    border: 0;
    border-color: #ccc;
    background-color: #fff;
    background-image: none;
    top: 0;
}

.float-button:focus
{
    color: #333;
    border-color: #8c8c8c;
    background-color: #e6e6e6;
}

.float-button:hover
{
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.float-button:active
{
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.float-button.left
{
    float: left;
    border-right: 1px solid #E6E6E6;
}

.float-button.right
{
    float: right;
    border-left: 1px solid #E6E6E6;
}

/*
* Step's CSS
*/
body
{
    counter-reset: section;
}

.stepwizard
{
    position: relative;

    display: table;

    width: 100%;
    margin-bottom: 15px;
}

.stepwizard-description {
    color: #777;
    display: block;
    text-align: center;
    margin: 5px;
}

.stepwizard-row
{
    display: table-row;
}

.step-progress
{
    position: absolute;
    z-index: 1;
    left: 0;

    float: left;

    width: 0;
    height: 7px;
    margin-top: 11px;

    content: ' ';
    transition: width .3s ease;

    background-color: rgba(0, 166, 90, 1);
}

.stepwizard-row:before
{
    position: absolute;
    top: 14px;
    bottom: 0;

    width: 100%;
    height: 7px;
    margin-top: -3px;

    content: ' ';

    background-color: #e6e6e6;
}

.stepwizard-step
{
    position: relative;
    z-index: 1;

    display: table-cell;

    text-align: center;
}

.stepwizard-step p
{
    margin-top: 10px;
}

.stepwizard-step button:before
{
    content: counter(section);
    counter-increment: section;
}

.stepwizard-step button
{
    z-index: 999;

    width: 32px;
    height: 32px;

    text-align: center;

    border: 0;
    border-radius: 50%;
    background-color: #e6e6e6;
}

.stepwizard-step button[disabled]
{
    opacity: 1 !important;

    filter: alpha(opacity=100) !important;
}

.stepwizard-step.on button
{
    font-weight: bold;

    color: #494949;
    background-color: #eee;
    border: 3px solid rgba(0, 166, 90, 1);
}

.stepwizard-step.success button
{
    font-weight: bold;

    color: white;
    background-color: rgba(0, 166, 90, 1);
}

.btn-circle
{
    font-size: 12px;
    line-height: 1.428571429;

    width: 30px;
    height: 30px;
    padding: 6px 0;

    text-align: center;

    border: 0;
    border-radius: 15px;
}

.default
{
    background-color: #e6e6e6;
}
