.relative-layout {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.fixed-container {
    max-height: 72vh;
    overflow-y: scroll;
    margin: 0px;

    table.fixed-table {
        border-radius: 3px;
        background-color: #fff;

        width: 100%;
        margin-top: 15px;

        border-collapse: collapse;
        
        thead {
            tr {
                th {
                    padding: 3px;
                    white-space: nowrap;

                    div {
                        position: absolute;
                        z-index: 2;
                        width: 100%;

                        border-bottom: 3px solid #dd4b39;
                        padding: 6px 3px;
                        margin-left: calc(-1rem + 7px);
                        
                        color: #333;
                        background-color: white;
                        cursor: pointer;
                        
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        i {
                            margin-left: 25px;
                        }
                    }

                    div.active {
                        color: #dd4b39;
                    }
                }

                th:first-child {
                    div {
                        border-left: none;
                    }
                }
            }

            div {
                top: 0;
            }
        }

        tbody {
            tr {
                background-color: #f9f9f9;

                td {
                    min-width: 120px;
                    padding: 3px;
                }

                td.actions {
                    a:not(:first-child):not(:last-child) {
                        margin: 0px 3px;
                    }
                }
            }

            tr:nth-child(odd) {
                background-color: #EDEDF3;
            }
        }
    }
}

