
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// AdminLTE
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/_all-skins.min.css";

// Sweetalert
@import "~sweetalert2/src/sweetalert2";

// Select2
@import "~select2/src/scss/core";

// Fixed tables
@import "fixed-tables";

button.btn, .form-control, .flat {
    border-radius: 0px;
}

textarea:focus, input:focus{
    outline: none;
}

.hide-on-md {
    display: none;
    margin-left: 10px;
}

.navbar-header {
    display: none;
}

.dropdown-toggle span.caret {
    margin-left: 10px;
}

.navbar-custom-menu > .navbar-nav > li {
    cursor: pointer;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    left: auto;
}

@media (min-width: 991px) {
    .hide-on-md {
        display: inline-block;
        margin-left: 10px;
    }

    .navbar-header {
        display: inline-block;
    }
}

@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        left: auto;
        right: auto;
    }
}

.navbar-header, .main-header .logo {
    width: 150px;
}

.navigation-menu {
    background-color: #EEEEEE;
    overflow: auto;
    white-space: nowrap;
    position: relative;
}

.navigation-menu a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 7px 14px;
    text-decoration: none;
}

.navigation-menu a:hover {
    color: #333;
    background-color: #DFDFDF;
}

.dropdown-menu > li > a:focus {
    color: #2882BC;
    font-weight: bold;
}

.dropdown-menu > li > a:hover {
    background-color: #215974;
    color: white;
}

.search-input {
    border: 0;
    border-bottom: 1px solid #B0B0B0;
}

.navigation-item {
    color: white !important;
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}

.navigation-item:hover, .navigation-item:active {
    color: white;
    background: rgba(0, 0, 0, 0.1);
}

.skin-black .main-header .navbar .navigation-item, .skin-black-light .main-header .navbar .navigation-item {
    color: #333333 !important;
}

.skin-black .main-header .navbar .navigation-item:hover, 
.skin-black .main-header .navbar .navigation-item:active, 
.skin-black-light .main-header .navbar .navigation-item:hover, 
.skin-black-light .main-header .navbar .navigation-item:active {
    color: #999999 !important;
}
.main-header .navbar .nav > li > a {
    cursor: pointer;
}