.checkbox label,
.radio label {
    padding-left: 0;
    padding-right: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"] + span,
input[type="radio"] + span {
    float: left;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

/* Colores */

input[type="checkbox"].green + span,
input[type="radio"].green + span {
    background: url(green.png) no-repeat;
}

input[type="checkbox"].red + span,
input[type="radio"].red + span {
    background: url(red.png) no-repeat;
}

input[type="checkbox"].orange + span,
input[type="radio"].orange + span {
    background: url(orange.png) no-repeat;
}
input[type="checkbox"].yellow + span,
input[type="radio"].yellow + span {
    background: url(yellow.png) no-repeat;
}

input[type="checkbox"].gray + span,
input[type="radio"].gray + span {
    background: url(gray.png) no-repeat;
}

input[type="checkbox"].cyan + span,
input[type="radio"].cyan + span {
    background: url(cyan.png) no-repeat;
}

input[type="checkbox"].dark-gray + span,
input[type="radio"].dark-gray + span {
    background: url(dark-gray.png) no-repeat;
}

input[type="checkbox"].gray + span,
input[type="radio"].gray + span {
    background: url(gray.png) no-repeat;
}

/*---------------------*/

label input[type="radio"] + span {
    background-position: -120px 0;
}

input[type="checkbox"] + span::after,
input[type="radio"] + span::after {
    padding-right: 10px;
}

/* Checkbox Buttons */

label:hover input[type="checkbox"] + span {
    background-position: -24px 0;
}

input[type="checkbox"]:checked + span {
    background-position: -48px 0 !important;
}

input[type="checkbox"]:disabled + span {
    background-position: -72px 0 !important;
}

input[type="checkbox"]:checked:disabled + span {
    background-position: -96px 0 !important;
}

/* Radio buttons */

label:hover input[type="radio"] + span {
    background-position: -144px 0;
}

label:hover input[type="radio"]:checked + span {
    background-position: -168px 0;
}

input[type="radio"]:checked + span {
    background-position: -168px 0 !important;
}

input[type="radio"]:disabled + span {
    background-position: -192px 0 !important;
}

input[type="radio"]:checked:disabled + span {
    background-position: -216px 0 !important;
}

/* Retina support */
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    
    input[type="checkbox"] + span,
    input[type="radio"] + span {
        background-image: url(green@2x.png);
        height: 44px;
        width: 44px;
    }

    input[type="checkbox"].green + span,
    input[type="radio"].green + span {
        background: url(green@2x.png) no-repeat;
    }

    input[type="checkbox"].red + span,
    input[type="radio"].red + span {
        background: url(red@2x.png) no-repeat;
    }

    input[type="checkbox"].orange + span,
    input[type="radio"].orange + span {
        background: url(orange@2x.png) no-repeat;
    }
    input[type="checkbox"].yellow + span,
    input[type="radio"].yellow + span {
        background: url(yellow@2x.png) no-repeat;
    }

    input[type="checkbox"].gray + span,
    input[type="radio"].gray + span {
        background: url(gray@2x.png) no-repeat;
    }

    input[type="checkbox"].cyan + span,
    input[type="radio"].cyan + span {
        background: url(cyan@2x.png) no-repeat;
    }

    input[type="checkbox"].dark-gray + span,
    input[type="radio"].dark-gray + span {
        background: url(dark-gray@2x.png) no-repeat;
    }

    input[type="checkbox"].gray + span,
    input[type="radio"].gray + span {
        background: url(gray@2x.png) no-repeat;
    }
}*/